<p-table [value]="sampleData" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Comment</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sampleData>
        <tr>
            <td>{{sampleData.id}}</td>
            <td>{{sampleData.comment}}</td>
            <td><p-button label="View" (click)="handleViewNote(sampleData.id)"></p-button></td>
        </tr>
    </ng-template>
</p-table>